[package]
name = "{{ project.name }}"
version = "0.1.0"
authors = ["{{ project.author }}"]
edition = "{{ project.edition }}"
description = "{{ project.description }}"
readme = "README.md"
repository = "https://github.com/{{ project.author }}/{{ project.name }}"
license = "MIT"
license-file = "LICENSE"
build = "build.rs"

{% if project.type == "Executable" -%}
[[bin]]
name = "{{ project.name }}"
path = "src/main.rs"
{%- elif project.type == "Library" -%}
[lib]
name = "{{ project.name }}"
crate-type = ["rlib", "dylib"]
{%- endif %}

[dependencies]
